@import url("https://fonts.googleapis.com/css2?family=Charis+SIL&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  background-color: #243b67;
  height: 100%;
  width: 100%;
  background-color: #141114;
  background-image: linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px),
    linear-gradient(335deg, black 23px, transparent 23px),
    linear-gradient(155deg, black 23px, transparent 23px);
  background-size: 58px 58px;
  background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
}
.app {
  position: relative;
  text-align: center;
  background-color: #20232c;
  /* background-color: #17181c; */
  height: 83vh;
  margin: 4rem 15rem 2rem 15rem;
  border-radius: 20px;
  border: 3px solid;
  /* box-shadow: 3px 1px 1px 1px; */
  box-shadow: -13px -11px 11px -11px rgb(229, 255, 0);
}

.header {
  margin: 5rem;
  padding-top: 30px;
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flicker 3s infinite;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header > h2 {
  text-decoration: none;
  font-family: "Charis SIL", cursive;
  font-size: 40px;
  color: white;
}
.app_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app_body > input {
  margin: 20px;
  width: 30rem;
  height: 2.7rem;
  text-decoration: none;
  border: 1px solid;
  outline: none;
  border-radius: 2rem;
  padding: 20px;
  font-size: 20px;
  font-family: "Roboto";
  background-color: #20232c;
  color: white;
}
input::placeholder {
  color: white;
}

.app_body > button {
  margin: 20px;
  width: 10rem;
  height: 3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  background-color: #20232c;
  color: white;
  border: 1px solid white;
  border-radius: 2rem;
}
button:hover {
  box-shadow: 0 15px 11px -11px rgb(237, 11, 11);
}

.result {
  font-family: "Roboto";
  font-weight: 600;
  color: white;
  margin-top: 5px;
}

/* Animation */

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
